*{
  margin:0; padding:0; box-sizing:border-box;
}
html, body{
  height:100%;
}
body{
  display:flex;
  justify-content:center;
  align-items:center;
  background:;
  overflow:hidden;
}

h1{
  position:absolute;
  height:100%;
  z-index:-10;
  margin-top:0;
  display:block;
}

h1 img{
  height:100%;
  margin-top:0;
  display:block;
  top:0;
  left:-50%;
}


.container{
  position:relative;
  width:350px;
  height:100%;
  overflow:hidden;
  background:;
}

.container::before{
  content:"";
  position:absolute;
  inset:0;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:auto 100%; /* 세로 100%, 비율 고정, 옆 여백 그대로 */
  z-index:0;
}

ul.boxes{
  position:absolute;
  left:0;
  top:0;
  width:350px;
  display:flex;
  flex-direction:column;
  gap:800px;
  padding:0;
  z-index:1;

  animation: scrollDown 40s linear forwards; 
}

ul.boxes{
  position:absolute;
  left:0;
  top:0;
  width:350px;
  display:flex;
  flex-direction:column;
  gap:800px;
  padding:0;
  z-index:1;

  will-change: transform;
  animation: scrollDown 50s linear infinite; /* 숫자↑ = 더 느림 */
}
ul.boxes li img{
  width: 100%;
  height: auto;
  max-height: 100vh;     /* 화면 높이 넘으면 축소 */
  object-fit: contain;
  display: block;
}

@keyframes scrollDown{
  from{ transform: translate3d(0,-100%,0); }
  to  { transform: translate3d(0, 100%,0); }
}